<div class="post-entry">

  <div class="title">
    <a class="title" href="{{ .Params.ExternalLink | default .RelPermalink }}">
      {{ .Title }}
      {{ if .Params.ExternalLink }}&nbsp;<small>🔗</small> {{ end }}
    </a>
  </div>
  <div class="description">
    {{ .Description | default (.Summary | default .Content | htmlUnescape | plainify | truncate 200) }}
  </div>
  <div class="date">{{ .Date.Format "January 2006" }}</div>
  <!-- <div class="tags">
    {{- range .Params.Tags -}}
    <span class="tag">
      <a href="{{ ( printf "tags/%s/" ( . | urlize ) ) | relLangURL }}">#{{ . | lower }}</a>
    </span>
    {{ end }}
  </div> -->
</div>