<div class="post-entry" data-href="{{ .Params.ExternalLink | default .RelPermalink }}">
  {{ if .Params.images }}
  <div class="thumbnail">
    <a href="{{ .Params.ExternalLink | default .RelPermalink }}">
      <img src="{{ index .Params.images 0 }}" alt="{{ .Title }}">
    </a>
  </div>
  {{ end }}

  <div class="content-wrapper">
    <div class="title">
      <a class="title {{ if .Params.ExternalLink }}external-link{{ end }}" href="{{ .Params.ExternalLink | default .RelPermalink }}">
        {{ .Title }}
      </a>
    </div>
    <div class="description">
      {{ .Description | default (.Summary | default .Content | htmlUnescape | plainify | truncate 200) }}
    </div>
    <div class="date">{{ .Date.Format "January 2006" }} &nbsp;·&nbsp; {{ i18n "reading_time" (.Params.readingTime | default .ReadingTime) }}</div>
    <!-- <div class="tags">
      {{- range .Params.Tags -}}
      <span class="tag">
        <a href="{{ ( printf "tags/%s/" ( . | urlize ) ) | relLangURL }}">#{{ . | lower }}</a>
      </span>
      {{ end }}
    </div> -->
  </div>
</div>