{{ define "title" }}
{{ .Title }} · {{ .Site.Title }}
{{ end }}
{{ define "content" }}
<section class="container post">
  <article>
    <header>
      <div class="post-title">
        <h1 class="title">{{ .Title }}</h1>
      </div>
      <div class="post-meta">
        <div class="date">
          <span class="posted-on">
            <time datetime='{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}'>
              {{ .Date.Format "January 2006" }}
            </time>
          </span>
        </div>
      </div>
    </header>

    <div class="single-content">
      {{ .Content }}
    </div>

    <hr>

    {{ if ne .Params.hideEmailSubscribe true }}
    <div class="subscribe-form">
      <p>Enjoyed this post? Subscribe to get notified about new articles.</p>
      <form action="https://buttondown.com/api/emails/embed-subscribe/metachris" method="post" target="_blank">
        <input type="hidden" name="tag" value="metachris.dev/post">
        <input type="email" name="email" placeholder="your@email.com" required>
        <button type="submit">Subscribe</button>
      </form>
    </div>
    <hr>
    {{ end }}

    <div style="float: right">
      {{ with .Page.Params.Categories }}{{ partial " taxonomy/categories.html" . }}{{ end }} {{ if ne .Params.hideTags true }}{{ with .Page.Params.Tags }}{{ partial "taxonomy/tags.html" . }}{{ end }}{{ end }}
    </div>

    <div style="clear: both;"></div>

    <!--
    <div class="bottomAbout" style="display: flex; align-items: center;">
      <div style="flex-grow: 2; ">
        <a href="https://buttondown.com/metachris" target="_blank" rel="noopener noreferrer">Subscribe</a>
        &nbsp;&middot;&nbsp;
        <a href="/about">About</a>
        &nbsp;&middot;&nbsp;
        <a href="/index.xml">RSS</a>
      </div>

      <div style="margin-top:-0px;">
        <a href="https://twitter.com/metachris">
          <img src="/images/profile2-round.png" alt="Chris" class="profile" style="max-width:60px;">
        </a>
      </div>
    </div>
    -->

    <!-- <div style="margin-top:-0px; float:right;">
      <a href="https://twitter.com/metachris">
        <img src="/images/profile2-round.png" alt="Chris" class="profile" style="max-width:60px;">
      </a>
    </div> -->

    <!-- <div style="text-align: center;">
      <a href="https://buttondown.com/metachris" target="_blank" rel="noopener noreferrer">Subscribe</a>
      &nbsp;&middot;&nbsp;
      <a href="/about">About</a>
      &nbsp;&middot;&nbsp;
      <a href="https://bsky.app/profile/metachris.bsky.social" title="Follow me on Bluesky" target="_blank" rel="noopener noreferrer">Bsky</a>
      &nbsp;&middot;&nbsp;
      <a href="https://x.com/metachris/" title="Follow me on X" target="_blank" rel="noopener noreferrer">X</a>
      &nbsp;&middot;&nbsp;
      <a href="/index.xml">RSS</a>
    </div> -->

    <div class="bottom-post-links">
      <div class="prev">
        {{ if .PrevInSection }}
        <span class="title">PREVIOUS POST</span><br>
        <a href="{{.PrevInSection.Permalink}}">{{ .PrevInSection.Title }}</a>
        {{ end }}
      </div>
      <div class="next">
        {{ if .NextInSection }}
        <span class="title">NEXT POST</span><br>
        <a href="{{.NextInSection.Permalink}}">{{ .NextInSection.Title }}</a>
        {{ end }}
      </div>
    </div>

    <hr>

    <footer>
      {{ partial "posts/series.html" . }}
      {{ partial "posts/disqus.html" . }}
      {{ partial "posts/commento.html" . }}

      <a id="comments" name="comments"></a>
      <h2>Comments</h2>
      {{ partial "posts/utteranc.html" . }}
    </footer>
  </article>

  {{ partial "posts/math.html" . }}
</section>

{{ end }}