{{ define "title" }}
{{ .Title }} · {{ .Site.Title }}
{{ end }}
{{ define "content" }}
<section class="container post">
  <article>
    <header>
      <div class="post-title">
        <h1 class="title">{{ .Title }}</h1>
      </div>
      <div class="post-meta">
        <div class="date">
          <span class="posted-on">
            <i class="fas fa-calendar"></i>
            <time datetime='{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}'>
              {{ .Date.Format (.Site.Params.dateFormat | default "January 2, 2006" ) }}
            </time>
          </span>
          <span class="reading-time">
            <i class="fas fa-clock"></i>
            {{ i18n "reading_time" .ReadingTime }}
          </span>
        </div>
      </div>
    </header>

    <div>
      {{ .Content }}
    </div>

    <hr>

    {{ if ne .Params.hideEmailSubscribe true }}
    <div class="subscribe" style="padding:0px 10px; font-style: italic; font-size: 1.6rem;">
      If you enjoyed this post, consider subscribing to <a href="https://tinyletter.com/metachris">my newsletter</a> or following me on <a href="https://twitter.com/metachris">Twitter</a> to get updates on my new blog posts and current projects.
    </div>
    <hr>
    {{ end }}

    <div style="height:14px;"></div>

    <div style="float: right">
      {{ with .Page.Params.Categories }}{{ partial " taxonomy/categories.html" . }}{{ end }} {{ if ne .Params.hideTags true }}{{ with .Page.Params.Tags }}{{ partial "taxonomy/tags.html" . }}{{ end }}{{ end }} </div>

    <div class="bottomAbout" style="display: flex;">
      <div>
        <a href="https://twitter.com/metachris">
          <img src="/images/profile2-round.png" alt="Chris" class="profile" style="max-width:80px;">
        </a>
      </div>
      <div style="padding-left:20px;" class="me">
        <a href="https://twitter.com/metachris">Chris Hager
          <br>
          <i class="fab fa-twitter"></i></a>
      </div>
    </div>

    <div class="bottom-post-links">
      <div class="prev">
        {{ if .PrevInSection }}
        <span class="title">OLDER POST</span><br>
        <a href="{{.PrevInSection.Permalink}}">{{ .PrevInSection.Title }}</a>
        {{ end }}
      </div>
      <div class="next">
        {{ if .NextInSection }}
        <span class="title">NEWER POST</span><br>
        <a href="{{.NextInSection.Permalink}}">{{ .NextInSection.Title }}</a>
        {{ end }}
      </div>
    </div>

    <footer>
      {{ partial "posts/series.html" . }}
      {{ partial "posts/disqus.html" . }}
      {{ partial "posts/commento.html" . }}
      {{ partial "posts/utteranc.html" . }}
    </footer>
  </article>

  {{ partial "posts/math.html" . }}
</section>

{{ end }}
