@import "../../themes/mc2020/assets/scss/variables";

::selection {
  background: $selection-color;
}

hr {
  border: 0px;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

.page h1 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

h1 #contents {
  font-size: 2.8rem;
  line-height: 3.2rem;

  @media only screen and (max-width : 768px) {
    font-size: 2.6rem;
    line-height: 3.0rem;
  }
}

h3 {
  margin: 2.2rem 0 1.6rem 0;
}

h4 {
  margin-bottom: 1.5rem;
}

h5 {
  margin: 2.6rem 0 1.6rem 0;
}

.subheader {
  // ~h3 that shouldn't show in toc
  display: block;
  font-size: 2.2rem;
  ;
  line-height: 3.2rem;
  margin: 2.4rem 0 1.2rem 0;
}

.swirl {
  margin-top: 4rem;
  margin-bottom: 4rem;
  margin-left: 40px;
}

.post-link-external {
  color: #b9b7b7;
  font-size: 1.5rem;
  padding-left: 2px;
}

.centered .about h2 {
  font-weight: 200;
}

a:hover,
a:hover .post-link-external,
a:focus .post-link-external {
  color: $link-color-highlight;
}

a:hover code {
  background: #ffff0066;
}

body.colorscheme-dark a:hover code {
  background: #0522a566;
}

.navigation .navigation-title {
  font-size: 2rem;
}

ul {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

li ul {
  margin-top: 0;
  // margin-bottom: 0 !important;
}

.highlight pre {
  border: 1px solid #676767;
  border-radius: 4px;
}

/**
 * Anchors that are added through JS to headers
 */
.hanchor {
  visibility: hidden;
  margin-left: 1rem;
}

a.hanchor {
  color: grey !important;
}

h2:hover a,
h3:hover a,
h4:hover a,
h5:hover a {
  visibility: visible
}

article h2 {
  margin-top: 3.0rem;
}

// ---------

.content header {
  margin-top: 3.8rem !important;
}

.utterances {
  max-width: inherit;
}

.home .about {
  h1 {
    font-weight: 500;
  }

  h2 {
    font-size: 1.9rem;
    padding-top: 8px;
    padding-bottom: 0;
  }

  li {
    padding-left: 3px;
    padding-right: 3px;
  }
}

.navigation-list a,
a.navigation-title {
  font-weight: 500;
}

.content .container {
  background: white;
  border: 1px solid #a0a0a0;
  padding-bottom: 3.0rem;
  margin-bottom: 6.0rem;

  @media only screen and (max-width : 1024px) {
    border: 0px solid black;
    background: $bg-color;
  }
}

.content .container.home {
  border: 0px solid black;
  background: $bg-color;
}

body.colorscheme-dark .content .container {
  background: $bg-color-dark;
  border: 0px solid black;
}

/**
 * Post list
 */
.postlist {
  margin-top: 4rem;
}

.postlist .post-entry {
  margin-top: 3rem;
}

.postlist .post-entry .date {
  color: #b1b1b1;
}

.postlist .post-entry a.title {
  font-size: 2.6rem;
  font-weight: 500;

}

.postlist .post-entry img {
  display: none;
}

.postlist .tags .tag a {
  color: #b1b1b1 !important;
  font-size: 1.4rem;
}

.tinyletter-subscribe {
  padding: 2rem;
  text-align: center;
  margin: 4rem 0rem;
  max-width: 600px;
  margin: auto;
  font-size: 1.6rem;
  border-radius: 3px;
}

.tinyletter-subscribe input {
  padding: 4px;
  font-size: 14px;
}

.bottomAbout .me {
  .fab {
    color: #939191;
    transition-duration: 0.5s;
  }

  a {
    color: #212121;
  }

  a:hover {
    text-decoration: none;

    .fab {
      color: #212121;
    }
  }
}


.bottom-post-links {
  display: flex;
  margin-top: 40px;
  margin-bottom: 40px;

  div {
    flex-grow: 1;
    max-width: 50%;
  }

  .next {
    text-align: right;
  }

  .title {
    font-size: 1.2rem;
    color: #939393;
  }
}


.post-meta .posted-on {
  color: grey;
}

article header {
  margin-bottom: 2rem !important;
}